@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Bebas", sans-serif;
}
:root {
  --primary-color: ;
  --secondary-color: #8436e8;
  --tertiary-color: #fd17a1;
  --quaternary-color: #a11fce;
  --text-color: #1a1a1a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  background-color: #ffffff;
  color: #1a1a1a;
  line-height: 1.5;
}
.container {
  /* width: 90%; */
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 5px; */
}

.color_svg {
  filter: brightness(0) saturate(100%) invert(99%) sepia(16%) saturate(2%)
    hue-rotate(96deg) brightness(108%) contrast(100%);
}
.color2_svg {
  filter: brightness(0) saturate(100%) invert(0%) sepia(9%) saturate(644%)
    hue-rotate(354deg) brightness(102%) contrast(80%);
}

.sub_social_list_item:first-child:hover,
.sub_social_list_item:first-child:focus,
.sub_social_list_item_list_item:hover,
.sub_social_list_item_list_item:focus {
  filter: brightness(0) saturate(100%) invert(47%) sepia(77%) saturate(7219%)
    hue-rotate(281deg) brightness(99%) contrast(107%);
}

/* ===============HEADER=============== */
.header .container {
  max-width: 100%;
  display: flex;
  flex-direction: column;

  /* justify-content: space-between;
  align-items: center;   */
}
.sub_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 390px;
  background: #290c4f;
}
.sub_nav {
}

.sub_nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 40px;
}

.sub_nav_list_item {
}

.sub_nav_list_item_link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

.sub_nav_list_item:hover,
.sub_nav_list_item:focus {
  .sub_nav_list_item_link {
    color: #e026ee;
  }
}

.dropdown {
  position: relative;
  /* left: 200px;
  top: 200px; */
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 404px;
  box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);

  border-radius: 4px;
  padding: 2px 15px;
}
.dropdown-container {
  display: flex;
  /* flex-direction: column; */
  /* padding: 10px; */
  gap: 15px;
}

.dropdown-content a {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown_list_item_link {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.dropdown_list_item_link:hover,
.dropdown_list_item_link:focus {
  color: #e026ee;
}

.sub_social {
}
.sub_social_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 40px;
}
.sub_social_list_item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sub_social_list_item_link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 136%;
  color: #fff;
  text-decoration: none;
}
.sub_social_list_item_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 15px;
}
.sub_social_list_item_list_item {
}

.below_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 390px;
  background: #8436e8;
}
.logo {
  filter: brightness(0) saturate(100%) invert(99%) sepia(16%) saturate(2%)
    hue-rotate(96deg) brightness(108%) contrast(100%);

  /* fill: #fff; */
}
.below_header_transfer_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 40px;
}
.below_header_transfer_list_item {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* .decor_circle {
  border-radius: 100px;
padding: 7px;
width: 36px;
height: 36px;
background: rgba(236, 139, 255, 0.15);
} */
.below_header_transfer_list_item_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  color: #fff;
}
.basket_block {
  border-radius: 30px;
  padding: 10px 20px;
  width: 326px;
  height: 54px;
  box-shadow: inset 0 2px 2px 0 rgba(236, 139, 255, 0.55),
    inset 0 -2px 2px 0 rgba(65, 0, 78, 0.25), 0 4px 10px 0 rgba(31, 31, 31, 0.2);
  background: linear-gradient(97deg, #fd17a1 0.01%, #a11fce 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.count_products_in_basket {
  border-radius: 20px;
  padding: 6px 15px;
  width: 103px;
  height: 34px;
  background: #ffca10;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 157%;
  color: #000;
}
.price_products_in_basket {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 157%;
  color: #fff;
}

.post_header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 30px 390px;
  /* background: #290c4f; */
  gap: 11px;
}
.post_nav {
}
.post_nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 11px;
}
.post_nav_list_item {
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: 25px;
  padding: 15px 17px;

  height: 46px;
  background: #f9f9f9;
}
.post_dropdown {
  position: relative;
}
.post_dropdown-content {
  border-radius: 4px;
  padding: 15px;
  width: 285px;
  height: 137px;

  display: none;
  position: absolute;
  z-index: 1;

  backdrop-filter: blur(50px);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.98);
  opacity: 0.95;
}

.post_dropdown-container {
  display: flex;
  flex-direction: column;
  /* padding: 6px 2px; */
  gap: 15px;
}

.post_nav_list_item_link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  color: #1a1a1a;
  text-decoration: none;
}

.post_drop_list_item_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.post_dropdown-content a {
  display: block;
}

.post_dropdown:hover .post_dropdown-content {
  display: block;
}

.post_dropdown_list_item_link {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.post_dropdown_list_item_link:hover,
.post_dropdown_list_item_link:focus {
  color: #e026ee;
}

.post_header_btn {
  border-radius: 30px;
  padding: 10px 18px;
  width: 114px;
  height: 46px;
  box-shadow: inset 0 2px 2px 0 rgba(236, 139, 255, 0.55),
    inset 0 -2px 2px 0 rgba(65, 0, 78, 0.25), 0 4px 10px 0 rgba(47, 47, 47, 0.2);
  background: linear-gradient(97deg, #fd17a1 0.01%, #a11fce 100%);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 13px;
  line-height: 169%;
  color: #fff;
}

/* =================HERO================= */
.hero{
  padding: 0;
}

.hero .container{
padding-top: 0;
padding-bottom: 0;
}

.slider {
  position: relative;
  text-align: center;
  /* top: 10px; */
  max-width: 1140px;
  margin: 0 auto;
}

.slides .slide {
  /*все изображения справа друг от доруга*/
  width: сalc(100% / 6);
  float: left;
}

.slides .slider-inner {
  width: 600%;
}

.overflow {
  width: 100%;
  overflow: hidden;
}

.slider img{ 
	width: 1140px;
  height: 350px;
  /* обрезать по краям */
  object-fit: cover;
}

/* .slide h2 {
  margin-top: -50px;
  background-color: rgba(255, 255, 255, 0.749);
  padding: 10px 0;
  position: relative;
} */
.arrows label {
  height: 50px;
  width: 50px;
}

/*настройка переключения и положения для левой стрелки*/
#switch1:checked ~ .arrows label:nth-child(6),
#switch2:checked ~ .arrows label:nth-child(1),
#switch3:checked ~ .arrows label:nth-child(2),
#switch4:checked ~ .arrows label:nth-child(3),
#switch5:checked ~ .arrows label:nth-child(4),
#switch6:checked ~ .arrows label:nth-child(5) {
  background: url("../images/img/Slider_left.svg")
    center/cover no-repeat;
  float: left;
  margin: 145px 0 0 -25px;
  display: block;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ .arrows label:nth-child(2),
#switch2:checked ~ .arrows label:nth-child(3),
#switch3:checked ~ .arrows label:nth-child(4),
#switch4:checked ~ .arrows label:nth-child(5),
#switch5:checked ~ .arrows label:nth-child(6),
#switch6:checked ~ .arrows label:nth-child(1) {
  background: url("../images/img/Slider_right.svg")
    no-repeat center/cover;
  float: right;
  margin: 145px -25px 0 0;
  display: block;
}

label,
a {
  cursor: pointer;
}

/*скрываетвсе radio-input*/
input[type="radio"] {
  display: none;
}

#switch1:checked ~ .slides .slider-inner {
  margin-left: 0;
}

#switch2:checked ~ .slides .slider-inner {
  margin-left: -100%;
}

#switch3:checked ~ .slides .slider-inner {
  margin-left: -200%;
}

#switch4:checked ~ .slides .slider-inner {
  margin-left: -300%;
}

#switch5:checked ~ .slides .slider-inner {
  margin-left: -400%;
}

#switch6:checked ~ .slides .slider-inner {
  margin-left: -500%;
}

.arrows {
  margin: -29% 0 0 0;
  width: 100%;
  height: 50px;
}

.dots label {
  border-radius: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #bbb;
}

.dots {
  margin: 23% 0 0;
  text-align: center;
}

.dots label:hover {
  background: #76c8ff;
  border-color: #777 !important;
}

#switch1:checked ~ .dots label:nth-child(1),
#switch2:checked ~ .dots label:nth-child(2),
#switch3:checked ~ .dots label:nth-child(3),
#switch4:checked ~ .dots label:nth-child(4),
#switch5:checked ~ .dots label:nth-child(5) 
#switch6:checked ~ .dots label:nth-child(6) 
{
  background: #18a3dd;
  border-color: #18a3dd !important;
}

.slides .slider-inner {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.arrows label:hover {
  opacity: 0.6;
}

.arrows label {
  transition: opacity 0.2s ease-out;
}

@media (max-width: 480px) {
  .arrows label {
    width: 25px;
    height: 25px;
  }
  .slide h2 {
    font-size: 1.2em;
    padding: 6px 0;
  }
  .dots {
    margin-top: 16%;
  }
  .dots label {
    width: 10px;
    height: 10px;
  }
}
